@mixin font-face($font-name, $file-name, $weight: normal, $style: normal) {
    @font-face {
        font-family: "#{$font-name}";
        src:
            url($file-name + '.eot'),
            url($file-name + '.eot?#iefix')  format("embedded-opentype"),
            url($file-name + '.woff') format("woff"),
            url($file-name + '.ttf')  format("truetype");
        font-weight: $weight;
        font-style: $style;
    }
}
