@import "mixins";
@import "./reset";
@import "./variables/global";
@import "./themes/normal";
@import "./themes/dark";
@include font-face(SFN, "shared/assets/fonts/SF-Pro-Display-Regular", normal, 400);

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.app,
.app_modal {
    font: var(--font-m);
    color: var(--primary-color);
    font-family: SFN, Helvetica, Arial, sans-serif;
}

.app {
    background: var(--bg-color);
    min-height: 100vh;
}

.content-page {
    display: flex;
}

.show {
    visibility: visible;
}

.hide {
    visibility: hidden;
}

.MuiChip-deleteIcon {
    display: flex;
    gap: 10px;
    font-size: 12px !important;
    span{
        padding-top: 3px;
    }
}