@import "mixins";
@include font-face(SFN, "shared/assets/fonts/SF-Pro-Display-Regular", normal, 400);

@import "reset";
@import "variables/global";
@import "themes/normal";
@import "themes/dark";

*{
    font-family: SFN, Helvetica, SansSerif, Arial;
}

.app,
.app_modal {
    font: var(--font-m);
    color: var(--primary-color);
}

.app {
    background: var(--bg-color);
    min-height: 100vh;
}

.content-page {
    display: flex;
}
