.PageLoader {
    position: fixed;
    z-index: 10;
    top: 0;
    left: 0;
    min-height: 100vh;
    min-width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
    bg-color: var(--inverted-bg-color);
}
