.app_dark_theme {
    --nav-bg-color: #242526;
    --nav-inner-bg-color: #38393a;
    --page-bg-color: #18191a;
    --tab-item-hover: #343737;
    --tab-item-icon-hover: #d1d5d5;
    --tab-item-active: #2374E1;
    --bg-color: #e8e8ea;
    --body-text: #a1a3a8;
    --inverted-bg-color: #e8e8ea;
    --inverted-icon-color: #7c7e81;
    --inverted-nav-bg-color: #e8e8ea;
    --primary-color: #04ff04;
    --secondary-color: #049604;
    --inverted-primary-color: #0232c2;
    --inverted-secondary-color: #0452ff;
}
