.app_dark_theme {
    --nav-bg-color: #242526;
    --nav-inner-bg-color: #38393a;
    --page-bg-color: #18191a;
    --inverted-bg-color: #e8e8ea;
    --inverted-nav-bg-color: #e8e8ea;
    --primary-color: #04ff04;
    --secondary-color: #049604;
    --inverted-primary-color: #0232c2;
    --inverted-secondary-color: #0452ff;
}
