:root {
    --nav-bg-color: #ffffff;
    --nav-inner-bg-color: #38393a;
    --page-bg-color: #f0f2f5;
    --tab-item-hover: #eef3f3;
    --tab-item-icon-hover: #d1d5d5;
    --tab-item-active: #2374E1;
    --bg-color: #e8e8ea;
    --body-text: #65676b;
    --inverted-bg-color: #242526;
    --inverted-icon-color: #6e6e72;
    --inverted-nav-bg-color: #e8e8ea;
    --primary-color: #0232c2;
    --secondary-color: #0449e0;
    --inverted-primary-color: #04ff04;
    --inverted-secondary-color: #049604;

}
