.Navbar {
  width: 100%;
  height: var(--navbar-height);
  background: var(--nav-bg-color);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
}

.NavbarLeft {
  display: flex;
  gap: 30px;
  width: 320px;
}

.NavbarCenter {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  list-style: none;

    svg{
        color: var(--inverted-icon-color);
    }
}

.NavbarRight {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 10px;
  list-style: none;
  width: 320px;

  li {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: var(--page-bg-color);
    position: relative;

      svg{
          color: var(--inverted-icon-color);
      }
    &:hover {
      background: var(--tab-item-icon-hover);
    }
  }
}

.IconWrap{
  width: 40px;
  height: 40px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: var(--page-bg-color);
  position: relative;
  svg{
    color: var(--inverted-icon-color);
  }
  &:hover {
    background: var(--tab-item-icon-hover);
  }
}

.Search {
  border-radius: 20px;
  padding: 0 20px;
  background: var(--page-bg-color);
  border: none;
  color: var(--body-text);
  height: 40px;
  margin: auto 0;
}

.TabItem {
  width: 110px;
  height: 50px;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;

  &:hover {
    background: var(--tab-item-hover);
  }
}

.TabIcon {
  color: #B0B3B8;
}

.TabItemActive {
  height: 56px;
  border-radius: 0;
  border-bottom: var(--tab-item-active) 4px solid;

  &:hover {
    background: transparent;
  }

  .TabIcon {
    color: var(--tab-item-active);
  }
}

.AccountPopup{
  position: absolute;
  background: var(--nav-bg-color);
  border-radius: 10px;
  box-shadow: 0 0 20px 0 rgba(181, 177, 177, 0.42);
  z-index: 10;
  min-width: 250px;
  min-height: 150px;
  max-height: 500px;
  top: calc(100% + 10px);
  right: 0;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 15px;

}

.AccountPupupTitle{
  display: flex;
  align-items: center;
  flex-wrap: nowrap;
  gap: 15px;
  padding-bottom: 15px;
  border-bottom: 1px var(--body-text) solid;
  cursor: pointer;
}

.AccountPupupBody{
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  gap: 15px;
}

.PupupItem{
  display: flex;
  align-items: center;
  gap: 15px;
  cursor: pointer;
}
