.Navbar {
    width: 100vw;
    height: var(--navbar-height);
    background: var(--inverted-bg-color);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
}

.NavbarLeft {
    display: flex;
    gap: 30px;
    width: 320px;
}

.NavbarCenter{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
    list-style: none;
}

.NavbarRight{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 10px;
    list-style: none;
    width: 320px;

    li{
        width: 40px;
        height: 40px;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        background: #343737;
        &:hover{
            background: #4a4c4c;
        }
    }
}

.Search{
    border-radius: 20px;
    padding: 0 20px;
}

Tabs{

}

.TabItem{
    width: 110px;
    height: 50px;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    &:hover{
        background: #343737;
    }


}
.TabIcon{
    color: #B0B3B8;
}

.TabItemActive{
    height: 56px;
    border-radius: 0;
    border-bottom: #2374E1 4px solid;
    &:hover{
        background: transparent;
    }
    .TabIcon{
        color: #2374E1;
    }
}


