
.MainPage {
    background: var(--page-bg-color);
}

.MainPageBody {
    display: flex;
    justify-content: center;
}

.MainPageCenter {
    width: 590px;
    margin-top: var(--navbar-height);
    min-height: calc(100vh - var(--navbar-height));
}
